.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  margin-bottom: 3rem;
}

.imgContainer {
  position: relative;
  width: 361px;
  height: 600px;
}

.img {
  object-fit: cover;
}

.headingii{
  width: 100%;
  text-align: center;
  font-size: 9.2rem;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }

  .heading {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    width: 100%;
  }
}
