.container {
  /* background-color: var(--tan); */
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.heading {
  text-align: center;
  width: 60%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 110%;
}

.leftCopy {
  text-align: center;
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 5rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  padding: 3rem;
}

.card:nth-child(1),
.card:nth-child(4) {
  border: 1px solid var(--black);
  border-radius: 10px;
}

.card:nth-child(1) {
  border-bottom-right-radius: 0px;
}

.card:nth-child(4) {
  position: relative;
  left: -1px;
  top: -1px;
  border-top-left-radius: 0px;
}

.description {
  opacity: 0.8;
  font-size: 1.6rem;
}

.icon {
  color: var(--black);
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 2rem;
  text-transform: none;
}

.imgContainer {
  position: relative;
  width: 235px;
  height: 400px;
}

.img {
  object-fit: cover;
}

@media screen and (max-width: 1068px) {
  .top {
    margin-bottom: 3rem;
  }

  .heading {
    width: 100%;
    text-align: center;
  }

  .bottom, .bottom2 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .imgContainer {
    margin: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .top {
    margin-bottom: 2rem;
  }

  .bottom {
    grid-gap: 3rem;
  }

  .right {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border: 1px solid var(--black);
  }

  .card:nth-child(1) {
    border-bottom-left-radius: 0px;
  }

  /* .card:nth-child(2),
  .card:nth-child(3) {
    border-radius: 0px;
    position: relative;
    top: -1px;
  } */

  .card:nth-child(3) {
    top: -2px;
  }

  .card:nth-child(4) {
    border-top-right-radius: 0px;
    left: 0;
  }

  .description,
  .title,
  .icon {
    text-align: center;
  }

  .heading {
    font-size: 4.5rem;
  }
}
